<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-img
  [src]="src"
  ></ion-img>
  <ion-text>
  <h1>
    {{ description }}
  </h1>
  </ion-text>
  <ion-text>
  {{ subtitle }}
  </ion-text>
  <ion-text>
  <h3>
    {{ content }}
  </h3>
  </ion-text>
</ion-content>