<ion-content [fullscreen]="true">
  <form 
  [formGroup]="registerForm"
  (ngSubmit)="doRegister()"
  >
    <ion-card-content>
      <ion-row>
        <ion-col>
          <app-input
          type="text"
          label="Name"
          placeholder="Jane"
          [control]="name"
          ></app-input>
        </ion-col>
        <ion-col>
          <app-input
          type="text"
          label="Last name"
          placeholder="Doe"
          [control]="lastName"
          ></app-input>
        </ion-col>
      </ion-row>
      <!--<ion-row>
        <ion-col>
            <app-select
            label="Country"
            placeholder="Select your country"
            interface="popover"
            [control]="country"
            >
              <ion-select-option
              *ngFor="let c of countries?.data"
              [value]="{id: c.name, value: c.unicodeFlag + ' ' + c.name }"
              >
                {{ c.name }}
              </ion-select-option>
            </app-select>
        </ion-col>
      </ion-row>!-->
      <ion-row>
        <ion-col>
          <app-input
          type="email"
          label="Email"
          placeholder="jane@doe.com"
          [control]="email"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
          type="password"
          label="Password"
          placeholder="***********"
          [control]="password" 
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
          type="password"
          label="Confirm password"
          placeholder="***********"
          [control]="confirmPassword"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a [routerLink]="['/login']">Already registered?</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-button
          type="submit"
          color="primary"
          value="Register"
          [disabled]="registerForm.invalid"
          ></app-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </form>
</ion-content>
