<ion-content [fullscreen]="true">
  <form 
  [formGroup]="registerForm"
  (ngSubmit)="doRegister()"
  >
    <ion-card-content>
      <ion-row>
        <ion-col>
          <app-input
          type="text"
          id="name"
          label="Name"
          placeholder="Jane"
          [control]="name"
          ></app-input>
        </ion-col>
        <ion-col>
          <app-input
          type="text"
          id="lastName"
          label="Last name"
          placeholder="Doe"
          [control]="lastName"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <app-select
            label="Country"
            placeholder="Select your country"
            interface="popover"
            [control]="country"
            >
            @for (item of countries.data; track $index) {
              <ion-select-option [value]="{id: item.name, value: item.unicodeFlag + ' ' + item.name }"
              >
                {{ item.unicodeFlag }} {{ item.name }}
              </ion-select-option>
            }
            </app-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
          type="email"
          id="email"
          label="Email"
          placeholder="jane@doe.com"
          [control]="email"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
          type="password"
          id="password"
          label="Password"
          placeholder="***********"
          [control]="password" 
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
          type="password"
          id="confirmPassword"
          label="Confirm password"
          placeholder="***********"
          [control]="confirmPassword"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-link
          link="/login"
          value="Already registered?"
          ></app-link>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-button
          type="submit"
          color="primary"
          [disabled]="registerForm.invalid"
          value="Register"
          ></app-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </form>
</ion-content>