<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form 
  
  >
    <ion-card-content>
      <ion-row>
        <ion-col>
          <app-input
          type="text"
          label="Name"
          placeholder="Jane"  
          ></app-input>
        </ion-col>
        <ion-col>
          <app-input
          type="text"
          label="Last name"
          placeholder="Doe"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
          type="email"
          label="Email"
          placeholder="jane@doe.com"  
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
          type="password"
          label="Password"
          placeholder="***********"  
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
          type="password"
          label="Confirm password"
          placeholder="***********"  
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <a [routerLink]="['/login']">Already registered?</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-button
          type="submit"
          color="primary"
          value="Register"
          ></app-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </form>
</ion-content>
