<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Chip Avatar</ion-label>
      </ion-chip>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div>
      <app-list
      [items]="['Business', 'Entertainment', 'General', 'Health', 'Science', 'Sports', 'Technology']"
      (itemClick)="filterNews($event)"
      ></app-list>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <app-header
  value="NEWS"
  color="tertiary"
  ></app-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <img [src]="articles[0]?.urlToImage" class="ion-padding"/>
      <ion-label>
        <h2>{{ articles[0]?.title }}</h2>
        <h3>{{ articles[0]?.author }}</h3>
        <p>{{ articles[0]?.description }}</p>
      </ion-label>
      @for (item of articles.slice(1); track $index) {
        <ion-item> 
          <ion-grid>
            <ion-row>
              <ion-col>
                <app-card
                [img]= item.urlToImage
                [title]= item.title
                [subtitle]= item.author
                [content]= item.description
                ></app-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      }
    </ion-list>
  </ion-content>
</div>